 
.loginbody {
    background-color: #fcfcfc;
    padding-bottom: 120px;

  }
.loginform {
    width: 45%;
    margin: auto;
    margin-top: 70px;   
}
.error-message {
  color: #cc0033;
  display: inline-block;
  font-size: 15px;
  line-height: 10px;
  margin: 0px 0 20px;
}
 