.cartBody {
    background-color: #ffffff;   
    padding-bottom: 120px;
  }

.cartDiv {
    margin-top: 50px;
}


.itemRow {
    margin-top: 50px;
    margin-bottom: 50px;
}

.buttonCart {
    margin-top: 20px;
    padding-bottom: 120px;
}
.addCartProject {
    margin-top: 100px;
}
