.cartBody {
    background-color: #ffffff;   
    padding-bottom: 120px;
  }

.cartDiv {
    margin-top: 50px;
}


.itemRow {
    margin-top: 50px;
    margin-bottom: 50px;
}

.buttonCart {
    margin-top: 20px;
}
.addCartProject {
    margin-top: 100px;
    /* line-height: 100px; */
}
/* .placeOrder {
    text-align: right;
    margin-left: 322;
}

.cartItems {
    margin-left: 100px;
    margin-top: 100px;
}

.cart {
    margin-left: 560px;
    margin-top: 50px;
}

.addCartProject {
    margin-left: 100px;
    line-height: 100px;
} */