@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');


.dashboardBody {
    background-color: #dd6770;   
  }

.head {
    text-align: center;
    padding-top: 50px;
    font-family: 'Krona One', sans-serif;
}

.profileImage {
    margin-left: 120px;
    margin-top: 100px;
    font-family: 'Krona One', sans-serif;
    
}
.profileData {
    float: right;
    margin-top: 120px;
    margin-right: 600px;
    font-family: 'Krona One', sans-serif;
}

.joke {
    margin-right: 200px;
    float: right;
}