 
.searchProjectsBody {
    background-color: #d4e9cd;
    text-align: center;
    padding-bottom: 120px
  }

.searchCard {
  padding: 5px;
  margin: 40px 10px 10px 10px;
  text-align: left;
}

.searchForm {
    margin: 10px 10px 10px 10px;
    /* padding-right: 900px; */
    /* text-align: left; */
     /* width: 100%; */
  /*clear: both; */
}