/* @import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'); */


.break-text  {
    word-wrap: break-word;
  }
.singleProjectBody {
    background-color: #ce5a60;
    padding-bottom: 120px;

}

.projectRow {
    margin-top: 100px;
}
/* 
.project {
    line-height: 5;
    padding-top: 70px;
    padding-left: 50px;
}

.commentArea {
    float:right;
    padding-top: 120px;
    padding-right: 120px;
}

.comments {
    float:right;
    padding-right: 450px;
    margin-bottom: 100px;
} */