.singleProjectBody {
    background-color: #ce5a60;
}

.project {
    line-height: 5;
    padding-top: 70px;
    padding-left: 50px;
}

.commentArea {
    float:right;
    padding-top: 120px;
    padding-right: 120px;
}

.comments {
    float:right;
    /* padding-top: 300px;
    padding-left: 200px; */
    padding-right: 450px;
    margin-bottom: 100px;
}