/* @import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'); */


.break-text  {
    word-wrap: break-word;
  }
.singleProjectBody {
    background-color: #ce5a60;
    padding-bottom: 120px;

}

.projectRow {
    margin-top: 100px;
}
